SECRET_KEY=03x-dg13z+yoc*vh-+7bc2)j!8q774mb(4+#)+m1=1*urzv89v
DEBUG=False

# Email
EMAIL_HOST_USER=get.techacad@gmail.com
EMAIL_HOST_PASSWORD=rlbsgnbzmpghzugi

# Cloudinary (for profile photo and CV storage)
CLOUDINARY_CLOUD_NAME=ks4gmgpx
CLOUDINARY_API_KEY=965533656971932
CLOUDINARY_API_SECRET=UQOIWCCfXhBTqwETod0WzaQDXl8

# Django Superuser (auto-created on first deploy via build.sh)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=get.techacad@gmail.com
DJANGO_SUPERUSER_PASSWORD=2123
